body{
    background: #f2f2f2;
}

#logo{
    height: 20vh;
    width: 20vh;
}

#logodiv{
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 30px;
}
#header{
    width: 100%;
    padding-left: 24px;
    font-size: 24px;
    background: #000000;
    color: white;
    height: 10vh;
    /* margin-bottom: 50%; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px
}

#footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    /* padding-bottom: 10px; */
}
#prediction{
    font-size: 18px;
}

#division{
    margin-top: 20px;
}

#buttons{
    /* border: 1px solid black; */
    height: 50vh;
    padding: 0% 0% 0% 0%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    margin-top: 250px;
}

.bt{
    text-align: center;
}


.btc{
    background-color: black;
    padding: 5% 0% 5% 0%;
    height: 9vh;
    width: 40vw;
}

.fam{
    padding-top: 2.5%;
    background: #3cba54;
    font-size: 24px;
}

a:active { 
    background-color: yellow;
}